/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
body{
    line-height: 1;
}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: "";
    content: none;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#app{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(https://hsiangfeng.github.io/GitHub-LoadAllRepo/img/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrap{
    margin: 5%;
    padding: 5%;
    width: 70%;
    background-color: rgba(95, 117, 100, 0.8);
    color: #ffffff;
    text-align: center;
}
h1{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 36px;
}
h3{
    margin-bottom: 15px;
    font-size: 20px;
}
.wrap input{
    margin-bottom: 15px;
    width: 50%;
    height: 40px;
    text-align: center;
}
.warning{
    margin: 10px auto;
    width: 51%;
    text-align: left;
    font-weight: bold;
}
.warning li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.table{
    width: 100%;
    font-size: 16px;
}
thead th{
    background-color: #3f5d45;
}
thead .Sort{
    background-color: #3f5d45;
    cursor: pointer;
    transition: all 0.5s;
}
thead .Sort:hover{
    background-color: #000000;
    transition: all 0.5s;
}
thead th, .name, .update{
    font-weight: bold;
}
.table tr{
    height: 40px;
    border: 1px solid #ffe180;
    line-height: 40px;
}
.table tr:hover{
    background-color: #3f5d45;
}
tbody td a{
    display: block;
    width: 80%;
    border: 1px solid #ffe180;
    color: #ffe180;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
tbody td a:hover{
    background-color: #3f5d45;
    color: #ffffff;
}
.href{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Login*/
/*Login*/
/*Login end*/