body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-image: url(../img/newbg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.wrap{
    max-width: 1140px;
    margin-left:auto;
    margin-right:auto; 
    margin-top:50px;
    background-color: rgba(0, 0, 0, .4)
}
.sort{
    cursor: pointer;
}
.loading{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: black;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingImg{
    position: absolute;
    opacity: 1.0;
    animation: loaderImg 2s linear infinite;
}
.loader-content{
    position: relative;
    content: '';
    border: 5px solid transparent;
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: loader 1.5s linear infinite;
}
.loader-content::after{
    position: absolute;
    content: '';
    border: 5px solid transparent;
    border-top-color: #e74c3c;
    border-bottom-color: #e74c3c;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: loader 3s linear infinite;
    top: 20px;
    left: 20px;
    right: 0;
    bottom: 0;
}
.loader-content::before{
    position: absolute;
    content: '';
    border: 5px solid transparent;
    border-top-color: #f9c922;
    border-bottom-color: #f9c922;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: loader 2s linear infinite;
    top: 45px;
    left: 45px;
    right: 0;
    bottom: 0;
}
.float-logo{
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 10;
}
table.table-hover tbody tr:hover {
    background-color: #0c5460; 
}
@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loaderImg{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}