/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
#app{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://hsiangfeng.github.io/GitHub-LoadAllRepo/img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrap{
    text-align: center;
    background-color: rgba(95, 117, 100, .8);
    color:#fff;
    width: 70%;
    margin: 5%;
    padding: 5%;
}
h1{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 15px;
}
h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.wrap input{
    text-align: center;
    width: 50%;
    height: 40px;
    margin-bottom: 15px;
}
.warning{
    text-align: left;
    width: 51%;
    margin: 10px auto; 
    font-weight: bold;
}
.warning li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.table{
    width: 100%;
    font-size: 16px;
}
thead th{
    background-color: #3F5D45;
}
thead .Sort{
    background-color: #3F5D45;
    cursor:pointer;
    transition: all 0.5s;
}
thead .Sort:hover{
    background-color: #000;
    transition: all 0.5s;
}
thead th,.name,.update{
    font-weight: bold;
}
.table tr{
    border: 1px solid #FFE180;
    height: 40px;
    line-height: 40px;
}
.table tr:hover{
    background-color: #3F5D45;
}
tbody td a{
    display: block;
    text-decoration: none;
    color:#FFE180;
    font-weight: bold;
    border:1px solid #FFE180;
    text-align: center;
    width: 80%;
}
tbody td a:hover{
    background-color: #3F5D45;
    color:#fff;
}
.href{
    display: flex;
    justify-content: center;
    align-items: center;
}
