<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vue.js-獲取自己所有Github Repo</title>
        <link rel="stylesheet" href="css/all.css">
    </head>

    <body>
        <div id="app">
            <div class="wrap">
                <h1>獲取自己所有Repo數量(目前不支援分頁)</h1>
                <h3>輸入使用者名稱(僅支援獲取Repo數量)：</h3>
                <input type="text" v-model.lazy.trim="urlName">
                <ul class="warning">
                    <li>不懂怎麼查Github名稱就><a href="img/pzAslBq.png" target="_black">按我</a></li>
                    <li></li>
                    <li>※無需按下Enter，輸入完畢即可立即顯示。(建議複製貼上使用者名稱)</li>
                    <li>※點擊欄位標題可排序</li>
                </ul>
                <button v-on:click="searchPage = '&per_page=5&sha='">僅查詢5筆</button>
                <button v-on:click="searchPage = '&per_page=10&sha='">僅查詢10筆</button>
                <button v-on:click="searchPage = ''">查詢全部</button>
                <template>{{getRepo}}</template>
                <table class="table">
                    <thead>
                        <th class="Sort" v-on:click="sortApi = '?sort=full_name&'">專案名稱</th>
                        <th class="Sort" v-on:click="sortApi = '?sort=created&'">建立日期</th>
                        <th class="Sort" v-on:click="sortApi = '?sort=updated&'">最後更新</th>
                        <th>連結</th>
                    </thead>
                    <tbody>
                        <tr  v-for="record in repo">
                            <td class="name">{{record.name}}</td>
                            <td>{{record.created_at}}</td>
                            <td class="update">{{record.updated_at}}</td>
                            <td class="href"><a v-bind:href="record.svn_url">快速連結</a></td>
                        </tr>
                    </tbody>
                </table>
                <small>Github api v3</small>
            </div>
        </div>
        <script src="js/vue.min.js"></script>
        <script src="js/all.js"></script>
    </body>

</html>